* {
    font-family: 'Roboto Mono', monospace ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
    user-select: none;
    scroll-behavior: smooth;
    transition:all 0.3s ease-in-out;

}

@media screen and (min-width: 768px) {

html{
    font-size: 12px;
    /* background: rgb(253, 163, 163); */
}

body{
    /* background:yellowgreen; */
    font-size:1rem;
    scroll-snap-type: y proximity;
}
/*-------------------------------------------First Page-----------------------------------------------------------------*/
.first-page{
  height:100vh;
  scroll-snap-align: center;
}

a{
    text-decoration:none;
    font-weight:400;
    color:black;
}



.container1{

    height:30vh;
    /* background:rgb(66, 66, 66); */
}



#name {
    width:100%;

}

#sketch{
    background:yellowgreen;
}

.name-box{
    /* background:peachpuff; */
    display:flex;
    justify-content:center;
    align-items:center;
    top:50%;
    left:50%;
}



.name-box .image{
    width:69%;
    /* background:cyan; */
}

#mobile-main-img.image{
    width:90%;
    min-width:370px;
    display:none;
}



/*----------------------------------------------Second Page------------------------------------------------------------------*/
.second-page {
    display:grid;
    place-items: center;
    height:100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    scroll-snap-align: center;
}

.quality-aligner{
    width: 100%;
}

.qualities{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width: 100%;
}

.skills, .projects, .certifications{
    background:rgb(255, 255, 255);
    width:256px;
    height:256px;
    border-radius: 50%;
    margin:1%;
    filter: drop-shadow(5px 0px 15px #c9c9c9);
    display: grid;
    overflow:hidden;
}

.skills img, .projects img, .certifications img {
    width: 50%;
    height:50%;
    align-items: center;
    place-items: center;
    justify-content: center;
    z-index: 0;
    transform: translate(50%,50%);

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity:.4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .skills:hover .overlay, .projects:hover .overlay, .certifications:hover .overlay{
    height: 100%;
  }

  .text {
    color: rgba(255, 255, 255, 1);
    opacity:1;
    font-size: 2.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.skills p, .projects p, .certifications p{
    z-index:1;
    height:2.5rem;
    display:grid;
}

.skills p text, .projects p text, .certifications p text{
    font-size:2.5rem;
    text-align: center;
    visibility:hidden;
}
.skills:hover p text, .projects:hover p text, .certifications:hover p text{
    visibility:visible;
}

.skills:hover, .projects:hover, .certifications:hover{
    filter: drop-shadow(5px 0px 20px #a8a8a8);

}

/*-----------------------------------------------Third Page---------------------------------------------------------------*/


.third-page{
    height:100vh;
    scroll-snap-align: center;
}

.header-text{
    font-size: 3rem;
    margin-top: 2.5%;
    margin-left:2.5%;
    position: absolute;
}

.assigner-img{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:center
}

.assigner-image img{
    /* height:20%; */
    width: 50%;
    position: absolute;
    margin-top: 10%;
    background:peachpuff;

}

}

/*-----------------------------------------------Media Queries---------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .sidebar-left , .sidebar-right {
        display: none !important;
    }

    #main-img{
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    #mobile-main-img.image{
        display:none !important;
    }

}
@media screen and (min-width: 00px) {
    #mobile-main-img.image{
        display:block;
    }

}

@media screen and (max-height: 660px) {
            .sidebar-left, .sidebar-right {
        display:none !important;
    }
    #main-img{
        display: none !important;
    }
}
