* {
    font-family: 'Roboto Mono', monospace ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
    user-select: none;
    scroll-behavior: smooth;
    transition:all 0.3s ease-in-out;

}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:#4eafcd;
    border-radius:10px;
}

@media screen and (min-width: 768px) {

html{
    font-size: 12px;
    /* background: rgb(253, 163, 163); */
}

body{
    /* background:yellowgreen; */
    font-size:1rem;
    scroll-snap-type: y proximity;
}
/*-------------------------------------------Nav Bar--------------------------------------------------------------------*/



.navbar {
    padding-top: 1vh;
    width:100vw;
    position:fixed;
    z-index:100;
    /* background:rgba(0,0,0,.05); */
    display:inline-block;
    justify-content:space-between;
    align-items: right;
    padding-right: 1vw;;
}
/* 
.nav-area{
    float:right;
} */

.navbar-left{
    align-items:left;
    float:left;
    /* padding-left: 1vw;; */
    margin-left: 0.5vw;
    border-radius: 7.5px;
}

.navbar-left {display:grid; place-items: center;}

.navbar-left li a img{
    border-radius:7.5px;
}

.navbar-left:hover{
    background:rgba(0,0,0,0.2);
}


.navbar-right{
    float:right;
}


.nav-area .navbar-right li{
    padding:0%;
    display:inline-block;
    border:0px solid black;
    border-radius:12px;
    transition:0.075s ease-in-out;
}


.nav-area .navbar-right li:hover{
    border:1px solid black;
    padding: 0 5px;
    /* background-color:rgba(0, 0, 0, 0.05); */
    border-radius: 12px;
    filter:hue-rotate(180deg);
}

/*-------------------------------------------First Page-----------------------------------------------------------------*/
.first-page{
  height:100vh;
  scroll-snap-align: center;
}

a{
    text-decoration:none;
    font-weight:400;
    color:black;
}



.container1{

    height:30vh;
    /* background:rgb(66, 66, 66); */
}



#name {
    width:100%;

}

#sketch{
    background:yellowgreen;
}

.name-box{
    /* background:peachpuff; */
    display:flex;
    justify-content:center;
    align-items:center;
    top:50%;
    left:50%;
}



.name-box .image{
    width:69%;
    /* background:cyan; */
}

#mobile-main-img.image{
    width:90%;
    min-width:370px;
    display:none;
}



/*----------------------------------------------Second Page------------------------------------------------------------------*/
.second-page {
    display:grid;
    place-items: center;
    height:100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.0);
    scroll-snap-align: center;
}
/* .back{
    display:none;
    color:red;
} */

.left, .right, .middle{
    /* background:#c8c8c8; */
    width:33vw;
    height:100vh;
    display:grid;
    place-items: center;
    transform-style: preserve-3d;
    position: relative;
    transition:all 0.5s ease;
    /* transition-delay: 1s; */
}
.middle{
    /* background:peachpuff; */
}

/* .card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition:all .5s ease;
}

.card:hover {
    transform:rotateY(180deg)   
}

.front{
    position: absolute;
    display:grid;
    place-items: center;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
}

.back{
    display:grid;
    place-items: center;
    position: absolute;
    width: 100%;height: 100%;
    backface-visibility: hidden;
    color:red;
    transform:rotateY(180deg);
} */

.quality-aligner{
    width: 100%;
}

.qualities{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width: 100%;
}

.skills, .projects, .certifications{
    background:rgb(255, 255, 255);
    width:256px;
    height:256px;
    border-radius: 50%;
    margin:1%;
    filter: drop-shadow(5px 0px 15px #c9c9c9);
    display: grid;
    overflow:hidden;
}

.skills img, .projects img, .certifications img {
    width: 50%;
    height:50%;
    align-items: center;
    place-items: center;
    justify-content: center;
    z-index: 0;
    transform: translate(50%,50%);

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity:.4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .2s ease-in-out;
  }

  .left:hover .overlay, .middle:hover .overlay, .right:hover .overlay{
    height: 100%;

  }
  .skills:hover .badge, .projects:hover .badge, .certifications:hover .badge{
    filter:blur(3px) grayscale(1);

  }

  .text {
    color: rgba(255, 255, 255, 1);
    font-weight:700;
    opacity:1;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.skills p, .projects p, .certifications p{
    z-index:1;
    height:2.5rem;
    display:grid;
}

.skills p text, .projects p text, .certifications p text{
    font-size:2.5rem;
    text-align: center;
    visibility:hidden;
}
.skills:hover p text, .projects:hover p text, .certifications:hover p text{
    visibility:visible;
}

.skills:hover, .projects:hover, .certifications:hover{
    filter: drop-shadow(5px 0px 20px #a8a8a8);
}

.skills:hover{filter:drop-shadow(0px 0px 15px #deaaff);}
.projects:hover{filter:drop-shadow(0px 0px 15px #ffc6ff);}
.certifications:hover{filter:drop-shadow(0px 0px 15px #caf0f8);}


/*-----------------------------------------------Third Page---------------------------------------------------------------*/

/* .spacer{
    width:100px;
    height:100px;
    /* background:red; 
    display: grid;
    position: absolute;
}
/*
.s1{ background:green;
     position:relative;
 } */


.third-page{
    height:100vh;
    scroll-snap-align: center;
}

.header-text{
    font-size: 3rem;
    margin-top: 3%;
    margin-left:5%;
    position: absolute;

}

.assigner{
    position: absolute;
    display:flex;
    width: 100%;
    height:15vh;
    margin-top: 10%;
    /* filter:drop-shadow(0 0 20px rgb(204, 204, 204)); */
    
}

.assigner-box{
    background:white;
    border-radius: 10px;
    position: absolute;
    display:flex;
    padding: 4% 1%;
    width: 50%;
    height:15vh;
    justify-content:center;
    align-items: center;
    transform: translateX(50%);
    /* filter:drop-shadow(0px 0px 20px rgb(247, 247, 247)); */
    border:3px solid black;
    transition:0.075s ease-in-out;
}

.assigner-box:hover{
    border:0px solid black;

}
.assigner-box:hover .assigner-image img{
    filter: hue-rotate(90deg)

}

.assigner-img{
    width: 100%;
    display:flex;
}

.assigner-image img{
    padding:5px;
    width: 100%;
    filter: hue-rotate(0deg);
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/


.contents{
    display:grid;
}

.var1{
    background:white;
    width:30%;
    /* filter:drop-shadow(0px 0px 20px rgb(204, 204, 204)); */
    border-radius: 10px;
    height: 10vh;
    margin-top: max(425px, 50vh);
    margin-left: 15%;
    position:absolute;
    display: grid;
    place-items: center;
    border:3px solid black;
    transition:0.075s ease-in-out;
}

.var1:hover{
    border:0px solid black;
}

 .var1 .email{
    display:flex;
    justify-content:space-evenly ;
}
.var1 .email .email-box{
    width:70%;
    display: grid;
    place-items: center;
}
.var1 .email .email-icon{
    display:grid;
    place-items: center;
    border-radius: 10px;
}

.email-icon img{
    width:50%;
}
 .var1 .email .email-box .email-img img{
    width:100%;
}
/*----------------------------------------------------------*/

.var2{
    background:white;
    width:15%;
    /* filter:drop-shadow(0px 0px 20px rgb(204, 204, 204)); */
    border-radius: 10px;
    height: 10vh;
    margin-top: max(425px, 50vh);
    margin-left: 70%;
    position:absolute;
    display: grid;
    place-items: center;
    border:3px solid black;
    transition:0.075s ease-in-out;
}

.var2:hover{
    border:0px solid black;
}

 .var2 .cv{
    display:flex;
    justify-content:space-evenly ;
}

.cv-box{
    width: 70%;
    display: grid;
    place-items: center;
}

.cv-icon{
    display:grid;
    place-items: center;
    border-radius: 10px;
}

.cv-img{
    display:grid;
    place-items: center;
}

.var2 .cv .cv-box .cv-img img{
    width:50%;
}
.cv-icon img{
    width: 50%;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

.var3{
    background:white;
    width:15%;
    /* filter:drop-shadow(0px 0px 20px rgb(204, 204, 204)); */
    border-radius: 10px;
    height: 10vh;
    margin-top: max(525px,75vh);
    margin-left: 15%;
    position:absolute;
    display: grid;
    place-items: center;
    border:3px solid black;
    transition:0.075s ease-in-out;
    
}

.var3:hover{
    border:0px solid black;
}

.insta{
    display:flex;
    justify-content:space-evenly ;

}
.insta-box{
    width: 100%;
    display: grid;
    place-items: center;

}
 .insta-icon{
    display:grid;
    place-items: center;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: 0.075s ease-in-out;
}

.var3:hover .insta-icon{
    filter: grayscale(0%);

}

.insta-img{
    display:grid;
    place-items: center;
    width: 50%;
}
.var3 .insta .insta-box .insta-img img{width:150%;}
.insta-icon img{width:70%;}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/


.var4{
    background:white;
    width:15%;
    /* filter:drop-shadow(0px 0px 20px rgb(204, 204, 204)); */
    border-radius: 10px;
    height: 10vh;
    margin-top: max(525px,75vh);
    margin-left: 40%;
    position:absolute;
    display: grid;
    place-items: center;
    border:3px solid black;
    transition:0.075s ease-in-out;
}

.var4:hover{
    border:0px solid black;
}

.git{
    display:flex;
    justify-content:space-evenly ;
}
.git-box{
    width: 100%;
    display: grid;
    place-items: center;
}
.git-icon{
    display:grid;
    place-items: center;
    border-radius: 10px;
    filter: contrast(0%);
    transition: 0.075s ease-in-out;
}

.var4:hover .git-icon{
    filter: contrast(100%);
}

.git-img{
    display:grid;
    place-items: center;
    width: 50%;
}
.var4 .git .git-box .git-img img{width:150%;}
.git-icon img{width:73%;}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/



.var5{
    background:white;
    width:25%;
    /* filter:drop-shadow(0px 0px 20px rgb(204, 204, 204)); */
    border-radius: 10px;
    height: 10vh;
    margin-top: max(525px,75vh);
    margin-left: 60%;
    position:absolute;
    display: grid;
    place-items: center;
    border:3px solid black;
    transition:0.075s ease-in-out;
}

.var5:hover{
    border:0px solid black;
}

.tweet-in{
    display:flex;
    justify-content:space-evenly ;
}
.tweet-in-box{
    width: 100%;
    display: grid;
    place-items: center;
}
.tweet-in-icon{
    display:grid;
    place-items: center;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: 0.075s ease-in-out;
}

.var5:hover .tweet-in-icon:hover{
    filter: grayscale(0%);
}

.tweet-in-img{
    display:grid;
    place-items: center;
    width: 60%;
}
.var5 .tweet-in .tweet-in-box .tweet-in-img img{
    width:100%;
}
.tweet-in-icon img{width:82.5%;}

}

/*-----------------------------------------------Media Queries---------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .sidebar-left , .sidebar-right {
        display: none !important;
    }

    #main-img{
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    #mobile-main-img.image{
        display:none !important;
    }

}
@media screen and (min-width: 00px) {
    #mobile-main-img.image{
        display:block;
    }

}

@media screen and (max-height: 660px) {
            .sidebar-left, .sidebar-right {
        display:none !important;
    }
    #main-img{
        display: none !important;
    }
}
