* {
    font-family: 'Roboto Mono', monospace ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 12px;
    user-select: none;
    scroll-behavior: smooth;
    transition:all 0.3s ease-in-out;

}

@media screen and (min-width: 768px) {

html{
    font-size: 12px;
    /* background: rgb(253, 163, 163); */
}

body{
    /* background:yellowgreen; */
    font-size:1rem;
    scroll-snap-type: y proximity;
}
/*-------------------------------------------First Page-----------------------------------------------------------------*/
.first-page{
  height:100vh;
  scroll-snap-align: center;
}

a{
    text-decoration:none;
    font-weight:400;
    color:black;
}



.container1{

    height:30vh;
    /* background:rgb(66, 66, 66); */
}



#name {
    width:100%;

}

#sketch{
    background:yellowgreen;
}

.name-box{
    /* background:peachpuff; */
    display:flex;
    justify-content:center;
    align-items:center;
    top:50%;
    left:50%;
}



.name-box .image{
    width:69%;
    /* background:cyan; */
}

#mobile-main-img.image{
    width:90%;
    min-width:370px;
    display:none;
}



/*----------------------------------------------Second Page------------------------------------------------------------------*/
.second-page {
    display:grid;
    place-items: center;
    height:100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    scroll-snap-align: center;
}

.quality-aligner{
    width: 100%;
}

.qualities{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width: 100%;
}

.skills, .projects, .certifications{
    background:rgb(255, 255, 255);
    width:256px;
    height:256px;
    border-radius: 50%;
    margin:1%;
    filter: drop-shadow(5px 0px 15px #c9c9c9);
    display: grid;
    overflow:hidden;
}

.skills img, .projects img, .certifications img {
    width: 50%;
    height:50%;
    align-items: center;
    place-items: center;
    justify-content: center;
    z-index: 0;
    transform: translate(50%,50%);

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity:.4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease-in-out;
  }

  .skills:hover .overlay, .projects:hover .overlay, .certifications:hover .overlay{
    height: 100%;

  }
  .skills:hover .badge, .projects:hover .badge, .certifications:hover .badge{
    filter:blur(3px) grayscale(1);

  }

  .text {
    color: rgba(255, 255, 255, 1);
    font-weight:700;
    opacity:1;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.skills p, .projects p, .certifications p{
    z-index:1;
    height:2.5rem;
    display:grid;
}

.skills p text, .projects p text, .certifications p text{
    font-size:2.5rem;
    text-align: center;
    visibility:hidden;
}
.skills:hover p text, .projects:hover p text, .certifications:hover p text{
    visibility:visible;
}

.skills:hover, .projects:hover, .certifications:hover{
    filter: drop-shadow(5px 0px 20px #a8a8a8);
}

.skills:hover{filter:drop-shadow(0px 0px 15px #deaaff);}
.projects:hover{filter:drop-shadow(0px 0px 15px #ffc6ff);}
.certifications:hover{filter:drop-shadow(0px 0px 15px #caf0f8);}

/*-----------------------------------------------Third Page---------------------------------------------------------------*/


.third-page{
    height:100vh;
    scroll-snap-align: center;
}

.header-text{
    font-size: 3rem;
    margin-top: 2.5%;
    margin-left:2.5%;
    position: absolute;

}

.assigner{
    position: absolute;
    display:flex;
    width: 100%;
    height:15vh;
    margin-top: 10%;
    filter:drop-shadow(0 0 20px rgb(204, 204, 204));

}

.assigner-box{
    background:white;
    border-radius: 10px;
    position: absolute;
    display:flex;
    padding: 4% 1%;
    width: 50%;
    height:15vh;
    justify-content:center;
    align-items: center;
    transform: translateX(50%);
    filter:drop-shadow(0px 0px 20px rgb(247, 247, 247));
}

.assigner-box:hover{
    filter:drop-shadow(0 0 10px rgba(187, 187, 187, 0.5));

}
.assigner-box:hover .assigner-image img{
    filter: hue-rotate(90deg)

}

.assigner-img{
    width: 100%;
    display:flex;
}

.assigner-image img{
    padding:5px;
    width: 100%;
    filter: hue-rotate(0deg)
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/


.contents{
    display:grid;
}

.var1{
    background:white;
    width:30%;
    filter:drop-shadow(0px 0px 20px rgb(204, 204, 204));
    border-radius: 10px;
    height: 10vh;
    margin-top: 350px;
    margin-left: 7.5%;
    position:absolute;
    display: grid;
    place-items: center;
}

.var1:hover{
    filter:drop-shadow(0px 0px 10px rgb(174, 174, 174)) hue-rotate(90deg);

}

 .var1 .email{
    /* filter:drop-shadow(0 0 20px rgb(204, 204, 204)); */
    display:flex;
    justify-content:space-evenly ;
}
.var1 .email .email-box{
    width:70%;
}
.var1 .email .email-icon{
    /* width:10px; */
    display:grid;
    place-items: center;
    border-radius: 10px;
}

.email-icon img{
    width:50%;
}
 .var1 .email .email-box .email-img img{
    width:100%;
    position:relative;
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
.contents .var2 .cv{
    position:absolute;
    margin-top: 30%;
    margin-left:70%;
    display:grid; 
    place-items: center;
}
.contents .var2 .cv .cv-box{
    display:grid; 
    

}

.contents .var2 .cv .cv-box .cv-img{
    height:auto;
    width:100%;
    background:red;
}

.contents .var2 .cv .cv-box .cv-img img{
}

}

/*-----------------------------------------------Media Queries---------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .sidebar-left , .sidebar-right {
        display: none !important;
    }

    #main-img{
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    #mobile-main-img.image{
        display:none !important;
    }

}
@media screen and (min-width: 00px) {
    #mobile-main-img.image{
        display:block;
    }

}

@media screen and (max-height: 660px) {
            .sidebar-left, .sidebar-right {
        display:none !important;
    }
    #main-img{
        display: none !important;
    }
}
